.footer_links{
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-family: 'Ranchers', bold;
}
.footer_transparent{
    background-color: transparent;
}
.footer_container{
    position: fixed;
    padding-top: .25rem;
    padding-bottom: .25rem;
    z-index: 30;
    align-items: center;
    width: 100%;
    bottom: 0;
}

.social_media_items{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left:auto;
    float:left;
    padding: 0.5rem 1.5rem;
}
.footer_links{
    padding-right: 1.5rem;
}

.copyright{
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    float:right;
    padding: 1rem 1rem 0;
    font-family: 'Ranchers', bold;
}
@media (max-width:440px){
    .social_media_items{
        padding: 0.6rem 1rem;
    }
    .copyright{
        font-size: 0.70rem;
        padding: 1.25rem 1rem;
    }
    .footer_links{
        padding: 8px 4px;
        line-height: 1rem;
    }
}