@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .solana-button-text{
    background-color: transparent;
    overflow: hidden;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    background-color: #414141;
    color: var(--tw-white-color);
    border-radius: 4px;  
  }
  .solana-button-text:hover{
      background: -webkit-linear-gradient(left, #9945ff, #8752F3, #5497D5, #43B4CA, #28E0B9, #19FB9B );
      font-weight: 700;
      box-shadow: 0;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.3s ease 0s;
  }

  /*NavBar*/
  .app_btn{
    font-size: 1rem;
    line-height: 2rem;
    background-color: #B27315;
    outline: none;
    border: none;
    overflow: hidden;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ranchers',bold;
    border-radius: 4px;
    color: var(--tw-white-color)
  }
  .app_btn:hover{
      background: #4e44ce;
      color: var(--tw-white-color);
      font-weight: 700;
      box-shadow: 0;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.3s ease 0s;
  }
  .nav_positioning{
      position: fixed;
      padding-top: .25rem;
      padding-bottom: .25rem;
      /*--tw-backdrop-blur: blur(3px);*/
      z-index: 30;
      align-items: center;
      width: 100%;
      /*border-bottom: 1px solid rgb(255, 255, 255);*/
      backdrop-filter: var(--tw-backdrop-blur);
      /*overflow: hidden;*/
  }
  .nav-transparent{
    background-color: transparent;
  }
  .nav-font-weight{
      font-family: 'Ranchers', bold;
  }
  .nav_font_text{
      font-size : 1.5rem;
      line-height: 1rem;
  }

  .navBarElements{
      display: flex;
      align-items: center;
      flex-direction: row;
      float:right;
      cursor: pointer;
  }
  .nav_3d_btn_container{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      float:left;
      cursor: pointer;
      width: 140px;
      padding-top: 0.9rem;
      padding-left: 0.75rem;
      
  }

  .home_logo{
      display: flex;
      position: relative;
      align-items: center;
      margin-left:auto;
      float: left;
      padding: 0.25rem 0.5rem;
      left: 1%;
  }
  .navBarItems {
      display: block;
      position: relative;
      color: #fff;
      text-align: center;
      padding: 18px 18px;
      text-decoration: none;
      font-family: 'Ranchers', bold;
      
  }
  .navBarItems:before {
      position: absolute;
      content: " ";
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      background:rgb(255, 255, 255);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform .3s linear;
  }

  .navBarItems:hover:before{
      /*background: #4E44CE;*/
      transform: scaleX(1);
      transform-origin: left;
      /*border-bottom: 1.5px solid rgb(255, 255, 255);*/
      border-radius: 2px;
  }
  .navBarItems:focus{
      border-bottom: 1.5px solid rgb(255, 255, 255);
  }
  .navbar-border-bottom{
      border-bottom: 1.5px solid rgb(255, 255, 255);
      border-radius: 2px;
  }


  .btn_class{
      --tw-text-opacity: 1;
      color: rgb(255 255 255/var(--tw-text-opacity));
      padding: 0.5rem;
      background-color: transparent;
      border-radius: 0.375rem;
      align-items: center;
      display: inline-flex;
  }
  .navBar_btn{
    color: #fff;
    float: right;
    margin-right: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 0.8rem;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    display: none;
    background-repeat: no-repeat;
    outline: none;
    border: none
  }

  /*Home*/
  .font-pixel {
    font-family: 'Press Start 2P';
  }
  .main {
    min-height: 100vh;
    text-align: center;
    overflow: auto;
    background: var(--tw-main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .home_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img_size{
    width: 1000px;
    height: 100%;
  }
  .home_content_subheader{
    padding-top: 3rem;
  }

  /*Footer*/
  .font_text_size{
    font-size : 2rem;
  }
  .font_color{
    color: var(--tw-metateds);
  }
  .footer_container{
      position: fixed;
      padding-top: .25rem;
      padding-bottom: .25rem;
      z-index: 30;
      align-items: center;
      width: 100%;
      bottom: 0;
  }

  /*.social_media_items{
      display: flex;
      align-items: center;
      flex-direction: row;
  }*/
  

  

  /*Responsive Screens*/
  @media (max-width:976px){
    .navBarElements{
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: rgba(52, 51, 51, 1);
      top:65px;
      left: -100%;
      flex-direction: column;
      text-align: center;
      transition: all .5s;
      overflow-y: scroll;
      overflow: hidden
    }
    .navBarItems{
        display:block;
        margin: 16px 0;
        line-height: 1rem;
    }
    .navBarElements ~ .navBarElements{
      left: 0;
    }
    .navBar_btn{
      display: block;
    }
  }
  @media (max-width:944px){
    .home_logo{
        top: 2px;
    }
    .nav_logo{
        width: 70px;
        height: 70px;
    }
    .nav-font-text{
        font-size : 1.3rem;
    }
    .navBarItems {
        padding: 18px 14px
    }
  }
  @media (max-width:812px){
    .img_size{
        width: 600px;
        height: 100%;
    }
    .nav-font-text{
      font-size : 1.3rem;
  }
    /*.hidden{
        display: none;
    }*/
    .nav_logo{
        width: 60px;
        height: 60px;
    }
    
    
    .nav-font-text{
        font-size : 22px;
    }
    
    
  }
  @media (max-width:498px){
  
    .nav_font_text{
        font-size : 1rem;
    }
    .home_logo{
        left: 1%;
        top: 10px;
    }
    .nav_logo{
        border-radius: 10px;
        width: 50px;
        height: 50px;
    }
    .navBarElements{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(52, 51, 51, 1);
        top: 65px;
        left: -100%;
        flex-direction: column;
        text-align: center;
        transition: all .5s;
    }
    .navBarItems{
        display:block;
        margin: 12px 0;
        line-height: 1rem;
    }
    .nav_font_text{
        font-size : 18px;
    }
    
    .nav_3d_btn_container{
        width: 100px;
        padding-left: 0.5rem;
        padding-top: 1.175rem;
    }
    .app_btn{
        font-size: 0.75rem;
    }
    .navBar_btn{
        padding-top: 0.875rem;
    }
    
  }
  @media (max-width:440px){
    /*.social_media_items{
        padding: 0.5rem 0.675rem;
    }*/
    .copyright{
        font-size: 0.70rem;
        padding: 1.25rem 1rem;
    }
}
  @media (max-width:428px){
    .font_text_size h1{
        font-size : 1.2rem;
        line-height: 2.5rem; 
    }
    .home_content_subheader h1{
        padding-top: 2rem;
    }
    .font_weight h1{
        font-family: 'Ranchers'; 
    }
    .img_size{
        width: 100%;
        height: 100%;
    }

  }
  .support-box-shadow{
    box-shadow: 0px 10px 10px rgba(142, 142, 229, 0.372);
  }

  /* ... */
}
html{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, 'Ranchers';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

:root{
  --tw-white-color: #fff;
  --tw-grey-color: #343333;
  --tw-black-color: #000;
  --tw-metateds: #EAA640;
  --tw-main-bg-color: rgba(52, 51, 51, 1);
  --tw-ring-color: rgba(59,130,246,.5);
  --tw-backdrop-blur:blur(4px);
  --tw-purple-ted: #4e44ce;
}
*,::after,::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: 0 solid rgba(52, 51, 51, 1);
 
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--tw-white-color);
    font-family: 'Ranchers', bold;
  }
}
